@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  margin: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  text-align: left;
}

input {
  border: 2px solid rgb(156, 156, 156);
  padding: 10px;
  margin: 10px;
}

.thought {
  border: 1px solid rgb(4, 142, 255);
  margin: 10px;
}
