@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  margin: 20px auto;
  max-width: 1024px;
  padding: 20px;
  box-sizing: border-box;
}

.App-link {
  color: #61dafb;
}

.content {
  width: 75%;
}

input {
  border: 2px solid rgb(156, 156, 156);
  padding: 10px;
  margin: 10px;
}

.main {
  position: relative;
  display: flex;
  gap: 20px;
}

button {
  padding: 10px 20px;
}