.navigation {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 25%;
  border-right: 1px solid rgba(128, 128, 128, 0.281);
  padding: 10px;

  nav {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 30px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 30px;

      li {
        padding: 10px 20px;
        cursor: pointer;

        a {
          display: flex;
          align-items: center;

          svg {
            height: 25px;
            width: 25px;
          }
        }
      }

      li:hover {
        background-color: rgba(0, 0, 0, 0.108);
        border-radius: 40px;
      }
    }
  }

  &__logout {
    text-align: left;
    padding: 0;
  }

  &__modal {
    padding: 20px;

    .modal__button {
      border-radius: 30px;
      color: white;
      background-color: #1d91f0;
      width: 100%;

      &:hover {
        background-color: #027cdf;
      }
    }
  }

  &__user {
    display: flex;
    margin-top: 30px;
    padding: 10px 20px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.108);
      border-radius: 40px;
    }

    &-img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__name {
    p:first-of-type {
      font-size: 20px;
      font-weight: 700;
    }

    &-username {
      color: rgb(72, 72, 72);
    }
  }
}
